.common-input {
  background: #253377;
  box-shadow: inset 1px 1px 10px 2px #141D4D;
  box-sizing: border-box;
  border-radius: 4px;
  border: none;
  width: 64px;
  height: 40px;
  font-size: 16px;
  text-align: center;
}